.container-card-price {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 60px;

	font-family: 'Calibri';
	color: antiquewhite;
	background-color: rgba(0, 0, 0, 0.8);
}

.title-card-price{
	margin-bottom: 3px;
}

.value-card-price{
	display: flex;
	justify-content: space-between;
}

.console-card-price{
	display: flex;
}

.console-card-price span {
	font-weight: bolder;
	color:aqua;
	margin-right: 10px;
}

