.container-description {
	display: flex;
	flex-direction: column;
	position: absolute;

	margin-top: 420px;
	margin-right: 300px;
	padding: 20px;

	width: 400px;
	height: 190px;

	background-color: #000a42;

	font-family: 'Segoe UI';
	font-size: 15px;
	color: antiquewhite;

	overflow: hidden;
	transition: transform 0.3s ease;
	transform: scale(1);
}

.container-description p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;

	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;

	white-space: normal;
	margin: 0;
}

.container-description:hover {
	transform: scale(1.05);
	height: auto;
}

.container-description:hover p {
	-webkit-line-clamp: unset;
	white-space: normal;
}
