<div class="container-menu">

	<div class="logo-menu">
		<img src="https://raw.githubusercontent.com/felipeAguiarCode/angular-psn-store-clone/refs/heads/main/src/assets/ps-logo.png" alt="playstation store logo">
	</div>

	<div class="item-menu">
		<ul>
			<li><a href="https://www.linkedin.com/in/leonardo-saturnino-564502336/" target="_blank">Linkedin</a></li>
			<li><a href="https://github.com/LeoSatCode" target="_blank">Github</a></li>
			<li><a href="https://www.youtube.com/@guildadosladinos" target="_blank">Youtube</a></li>
		</ul>
	</div>

</div>
